#new-todo-form {
  display: flex;
  flex-direction: column;
}

#new-todo-form > * {
  margin: 0.15rem;
}

#list {
  padding: 0;
}

.list-item {
  list-style: none;
}

.list-item-label:hover,
[data-list-item-checkbox]:hover {
  cursor: pointer;
}

.list-item-label:hover > [data-list-item-text] {
  color: #333;
  text-decoration: line-through;
}

[data-list-item-checkbox]:checked ~ [data-list-item-text] {
  text-decoration: line-through;
  color: #aaa;
}

[data-button-delete] {
  margin-left: 0.5rem;
}

button {
  cursor: pointer;
}

.small-info-text {
  font-size: 50%;
  margin-top: 1rem;
}

input,
button {
  font-size: inherit;
}

input[type="checkbox"] {
  width: 30px;
  height: 30px;
}

.body {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.main {
  max-width: 50rem;
}
